{% extends "base.html" %}
{% block content %}
{% load static %}
<body>
    <div class="container">
        <div class="row">
            {% for anime in anime_titles %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        {% if anime.image %}
                            <img src="{{ anime.image.url }}" class="card-img-top" alt="anime image">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title"><a href="{% url 'anime-reviews-list' anime.id %}">{{ anime.title }}</a></h5>
                            <p class="card-text">Genres:
                                {% for anime_genre in anime.animegenre_set.all %}
                                    {{ anime_genre.genre.name }}{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </p>
                            <p class="card-text">Released on: {{ anime.release_date }}</p>
                            <p class="card-text">Description: {{ anime.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}